@model List<MVCProject.Models.User>

<h2>Users</h2>
@if (TempData["SuccessMessage"] != null)
{
  <div class="alert alert-success">
      @TempData["SuccessMessage"]
  </div>
}
<table class="table">
    <thread>
        <tr>
            <th>UserID</th>
            <th>Username</th>
            <th>Email</th>
        </tr>
    </thread>
    <tbody>
        @foreach (var user in Model)
            {
                <tr>
                    <td>@user.userid</td>
                    <td>@user.username</td>
                    <td>@user.email</td>
                </tr>
            }
    </tbody>
</table>

@Html.ActionLink("Add New User", "Signup", "User", null, new {@class = "btn btn-primary"})